@import "tailwindcss";

@theme {
    --color-main: #0A0A0A;
    --color-primery: #CCFF00;
    --color-text: #6B6C6B;

    --font-text: "Be Vietnam Pro", ui-sans-serif, system-ui;
    --font-text-main: "Space Mono", ui-monospace, SFMono-Regular;
}
.customhome{
    max-width: 1200px;
    width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
.customshadow{
    text-shadow: 0px 0px 10px #FFFFFF;
}


/* Font  */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;600;700&family=Space+Mono:wght@400;700&display=swap');